<div class="widget-container">
    <div class="widget-wrapper">
        <div class="widget-header">
            <h4 ng-if="ctrl.data.id">{{ctrl.data.firstName}} {{ctrl.data.lastName}}</h4>
            <h4 ng-if="!ctrl.data.id">Create new user</h4>
            <div class="widget-close">
                <span class="glyphicon glyphicon-remove" ng-click="ctrl.close()"></span>
            </div>
        </div>
        <div class="widget-form">
            <form novalidate name="userForm" ng-if="ctrl.data">
                <div class="form-group">
                    <label for="username">Username*</label>
                    <input name="username"
                            ng-model="ctrl.data.username"
                            ng-model-options="{ debounce: 250 }"
                            required
                            ng-disabled="!!ctrl.data.id"
                            type="text"
                            username-availability
                            disable-username-check="!!ctrl.data.id">
                    <div ng-show="userForm.$submitted && userForm.username.$touched || userForm.username.$touched">
                        <span class="error-message" ng-show="userForm.username.$error.required">Username is required field.</span>
                        <span class="error-message" ng-show="userForm.username.$error.usernameAvailability && !userForm.username.$error.required">Username is not unique.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">First name*</label>
                    <input name="firstName" ng-model="ctrl.data.firstName" required type="text">
                    <div ng-show="userForm.$submitted || userForm.firstName.$touched">
                        <span class="error-message" ng-show="userForm.firstName.$error.required">First name is required field.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last name*</label>
                    <input name="lastName" ng-model="ctrl.data.lastName" required type="text">
                    <div ng-show="userForm.$submitted || userForm.lastName.$touched">
                        <span class="error-message" ng-show="userForm.lastName.$error.required">Last name is required field.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input name="email" ng-model="ctrl.data.email" required type="email">
                    <div ng-show="userForm.$submitted || userForm.email.$touched">
                        <span class="error-message" ng-show="userForm.email.$error.required">Email is required field.</span>
                        <span class="error-message" ng-show="userForm.email.$error.email">Wrong email format.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="type">Type*</label>
                    <select name="type" required ng-model="ctrl.data.type">
                        <option ng-repeat="type in ctrl.typeList" value="{{type}}">{{type}}</option>
                    </select>
                    <div ng-show="userForm.$submitted || userForm.type.$touched">
                        <span class="error-message" ng-show="userForm.type.$error.required">Type name is required field.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password*</label>
                    <input name="password"
                        ng-model="ctrl.data.password"
                        required
                        type="password"
                        password-strength>
                    <div ng-if="userForm.password.$error && userForm.password.$touched">
                        <span class="error-message" ng-if="userForm.password.$error.required">Password is required.</span>
                        <span class="error-message" ng-if="userForm.password.$error.passwordStrength">Password must have at least 8 characters and contain both letters and numbers.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="repeatPassword">Repeat password*</label>
                    <input name="repeatPassword" ng-model="ctrl.data.repeatPassword" match-password type="password">
                    <span class="error-message" ng-show="userForm.repeatPassword.$error.matchPassword && userForm.repeatPassword.$touched">Passwords do not match or password has weak streinght.</span>
                </div>
                <div class="widget-footer">
                    <div class="button-group centered" ng-if="!ctrl.data.id">
                        <button type="submit" ng-click="ctrl.saveUser(userForm)" class="btn btn-primary">Create</button>
                    </div>
                    <div class="button-group space-between" ng-if="ctrl.data.id">
                        <button type="button" ng-click="ctrl.deleteUser()" class="btn btn-danger">Delete</button>
                        <button type="submit" ng-click="ctrl.saveUser(userForm)" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
